<div class="row justify-content-center" style="height: 300px">
  <header class="col-md-12" appPhotoChange style="height: 400px">
    <img style="width: 100%; height: 50%" src="../assets/pizza2.png">
  </header>
</div>

<div class="row justify-content-center">
  <div class="col-lg-4 col-md-7 col-8 cer">
    <img src="../assets/Certificate.pdf">
  </div>
  <div class="col-lg-4 col-md-7 col-8 cer">
    <img src="../assets/Certificate2.pdf">
  </div>
</div>


<aside class="row justify-content-center">
  <div class="col-lg-6 col-md-9 text-center">
    <h1>order and see for yourself</h1>
  </div>
</aside>



