
header img {
  filter: brightness(0.3);
  position: relative;
  font-family: Athelas;
}

.cer img{
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid silver;
  background: white;
  padding: 4px;
}

h1{
  font-family: Luminari;
  color: black;
  text-shadow:0 0 6px #73a2ff;
}

@media only screen and (max-width: 450px) {
  h1{
    font-size: 30px;
  }
}

@media only screen and (min-width: 450px) {
  h1{
    font-size: 70px;
  }
}
